nav .brand-logo {
	padding-left: 20px;
}

.material-icons{
    padding-left: 15px;
}

.row {
	padding: 10px;
}

#submit-button {
    margin-left: 44%;
    margin-bottom: 50px;
}

.input-field {
	text-align: center;
}

.row form .to {
	padding-top: 25px;
}

.lyft-button {
    background-image: url('../img/lyft-button.png');
    background-size: cover;
    width: 305px;
    height: 44px;
    margin: 0 auto;
}

.uber-button {
    background-image: url('../img/UBER_API_Button_2x_Grey_1px_round.png');
    background-size: cover;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

#time {
	font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
}