nav .brand-logo {
	padding-left: 20px;
}

nav .brand-logo, #nav-mobile li {
    color: rgb(234, 11, 140);
    font-weight: lighter;
    font-size: 35px;
}

#nav-mobile li a {
    font-size: 20px;
}

.lyft-pink {
    color: rgb(234, 11, 140);
}
.material-icons{
    padding-left: 15px;
}

.row {
	padding: 10px;
}

#submit-button {
    margin-left: 44%;
    margin-bottom: 50px;
}

.input-field {
	text-align: center;
}

.row form .to {
	padding-top: 25px;
}

.uber-button {
    background-image: url('../img/UBER_API_Button_2x_Grey_1px_round.png');
    background-size: cover;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

#time {
	font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
}

input[type='checkbox'] + label {
    padding-left: 20px;
}

.category-description {
    position: absolute;
    left: 20px;
}

.profile {
    padding-right: 25px;
}

nav {
    background-color: white;
}

.card-content {
    border: 1px dotted rgb(234, 11, 140);
}

.btn {
    background-color: rgb(234, 11, 140);
}

.content {
    background-color: rgb(250, 250, 250);
}