{% extends "navbar.html" %}

{% block cards %}

<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">We found a place!</span>
          <p>Estimated Time to Nearest Driver's Arrival: {{ myeta() }} minute(s)</p>
          <p>Ride Type: {{ myridetype() }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row lyft-button">
  <button id="submit-button" class="btn waves-effect waves-light col s2 offset-s5" onclick="location.href='https://www.lyft.com/';" type="submit" name="action">Request Lyft
  </button>
</div>


{% endblock %}