{% extends "navbar.html" %}

  {% block cards %}
      
  <!-- Cards -->
  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">Price Range</span>
            <div class="row">
              <form action="" method="post">
                <div class="input-field col s2 offset-s3">
                  {{ form.priceLow(class_="center-align") }}
                </div>
                <div class="to col s2"><p class="center-align"> to </p></div>
                <div class="input-field col s2">
                {{ form.priceHigh(class_="center-align") }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">Travel Time Range - One Way</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">Number of Friends</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">Food Category</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title">Dietary Restrictions</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<button id="submit-button" class="btn waves-effect waves-light col s4 offset-s4" onclick="location.href='/lyft';" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>

<script type="text/javascript">
  
  window.onload = function() {
    var startPos;
    var geoSuccess = function(position) {
      startPos = position;
      var lat = startPos.coords.latitude;
      var long = startPos.coords.longitude;
      console.log("HERE");
        $.getJSON($SCRIPT_ROOT + '/_location_data', {
          a: lat,
          b: long
        }, function(data) {
          console.log("HI", data.result);
        });
      console.log("FINISHED");
    };
    navigator.geolocation.getCurrentPosition(geoSuccess);

};

</script>

{% endblock %}
