<!DOCTYPE html>
<html>
  <head>
    <title>Uber Ride</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
    <br>
      <div class="uber-button" onclick="location.href='/uber/request';">
        <p id="time">RIDE IN {{ myfunction() }} MIN</p>
      </div>
    </div>
  </body>
</html>